<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="examinationDuration" value="20"/>
    <add key="scheduleRestriction" value="1"/>
  </appSettings>

</configuration>
